<template name="editProfile">
    <div class="container">
        {{#if currentUser}}
        <div class="page-header">
            <h1>Edit profile</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="name" value="{{currentUser.username}}" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" value="{{user.email}}" placeholder="Email">
            </div>
             <div class="form-group">
                <label for="location">Location</label>
                  <input type="text" class="form-control" id="location" value="{{theLocation}}" placeholder="Location">
             </div>
              <button type="submit" class="btn btn-primary edit-profile">Submit</button>
        </form>
        {{else}}
      <p>Please log in</p>
        {{/if}}
    </div>
</template>
